nav{
    display: flex;
    background-color:#308a41;
    padding:20px;
}

nav #home{
    margin-right: auto;
    font-size: 36px;
    font-weight: 700;
}

nav #other{
    font-size: 24px;
    margin-top: 5px;
}

a{
    text-decoration: none;
    color:white;
    padding-left: 5px;
    padding-right: 5px;
}

#main a{
    color:black;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

#main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

#main a{
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}